* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0; 
    margin: 0;
    font-family: "Outfit";
    height: 3480px;
    width: 1280px;
    left: -21805px;
    top: -19555px;
    border-radius: 0px;
}
/* Aqui empieza la cabecera */

header {
    width: 1280px;
    background-color: #2B2A2B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    color: white;
    /* font-family: "Outfit"; */
}

div.header {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}

div.caffe {
    font-size: 23.4628px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7.33px;
    width: 213.86px;
    height: 36px;
}

div.barra > div >a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}

div.barra {
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 512px;
}
div.tel2 {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 11px;
    flex-wrap: nowrap;
    width: 288px;
    height: 40px;
}

div.icon {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;
    border: 2px;
    text-decoration: solid;
}

button.inicio {
    background-color: #515051;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 130px;
    height: 40px;
}
/* Aqui empieza el cuerpo 1 de la web */

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 40px;
    gap: 8px;
    width: 1280px;
    background: rgba(227, 222, 215, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1280px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div.div1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 588px;
    height: 232px;

}

section > .section> .div1 > .buttons> button> a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}
.div1 > h3 {
    margin: 0;
    width: 588px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2A5B45;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

h1 {
    margin: 0;
    width: 588px;
    height: 88px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    color: #000000;
}

p.div1 {
    margin: 0;
    width: 588px;
    height: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #111827;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

div.buttons{
    display: flex;
    font-size: 14px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 325px;
}

button.descubrir {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "outfit";
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    font-style: normal;
    color: #FEFFF5;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    width: 168px;
    height: 40px;
    background: #1F1815;
    border-radius: 4px;
    text-align: center;
    border: none;
}

button.comprarcafe {
    display: flex;
    justify-content: center;
    font-family: "outfit";
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #FEFFF5;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px;
    width: 168px;
    height: 40px;
    background: #2A5B45;
    border-radius: 4px;
    border: none;
}

div.div2 {
    width: 588px;
    height: 390px;
    background: url(/cafe-en-altura/assets/images/Hero\ image.jpg), #FEFFF5;
    border-radius: 20px;
}
/* Aqui empieza el cuerpo 2 de la web */

section.sect2 {
    background-image: url(/cafe-en-altura/assets/images/086aa1e226e5adfe010fd0fb3ff3e2cb.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 1280px;
}

div.sec2 >h3 {
    text-align: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2B2A2B;
}

div.section2 {
    width: 996px;
    height: 232px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 24px;
}

div.sec2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 16px;
    width: 316px;
    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
}

div.logo1 {
    flex-direction: column;
    padding: 14px;
    width: 36px;
    height: 64px;
    background-color: #2A5B45;
    border-radius: 20px;
}

div.logo2 {
    flex-direction: column;
    padding: 14px;
    width: 36px;
    height: 36px;
    background-color: #2A5B45;
    border-radius: 20px;
}

div.logo3 {
    flex-direction: column;
    padding: 14px;
    width: 36px;
    height: 64px;
    background-color: #2A5B45;
    border-radius: 20px;
}
section.sect2 > h2 {
    text-align: center;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #f6f8f7;
    
}
/* Aqui empieza el cuerpo 3 de la web */
section.sect3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
    width: 1280px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    background-color: #FFFFFF;
}

section.sect3 > div > div > div> button > a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}
div.vertodos > div> a {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

div.titulosect3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #2A5B45;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.coffes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1200px;
    display: flex;
    
    
}

#tiposcafe1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

#tiposcafe2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

#tiposcafe3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

#tiposcafe4 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

button.añadir {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 60px;
    height: 32px;
    background: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    font-style: normal;
    text-align: center;
    font-family: "Outfit";
    text-decoration: none;
    color: white;
    border: none;
}

button.añadir:hover{
    background: #2A5B45;
    border-radius: 4px;
    cursor: pointer;
}

#tiposcafe1:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    background: #F7F5F3;
    border: 1px solid #E3DED7;
    border-radius: 8px;
    cursor: pointer;
}

#tiposcafe2:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    background: #F7F5F3;
    border: 1px solid #E3DED7;
    border-radius: 8px;
    cursor: pointer;
}

#tiposcafe3:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    background: #F7F5F3;
    border: 1px solid #E3DED7;
    border-radius: 8px;
    cursor: pointer;
}

#tiposcafe4:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    background: #F7F5F3;
    border: 1px solid #E3DED7;
    border-radius: 8px;
    cursor: pointer;
}


div.vertodos {
    font-family: "Outfit";
    display: flex;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
}

div.vertodosimg {
    padding-left: 19px;
}
/* Aqui empieza el cuerpo 4 de la web */
section.sect4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 1280px;
    height: 621px;
    background: #2A5B45;
}
div.section4 > h2 {
    text-align: center;
    color: white;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

div.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 41px;
    width: 668px;
    /* height: 425px; */
}

div.FAQ1 {
    margin: 16px;
    flex-direction: column;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
    width: 644px;
    background: #FFFFFF;
    border-radius: 10px;
}

div.FAQ1 > p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2B2A2B;
}

div.FAQ11 {
    width: 620px;
    display: flex;
    justify-content: space-between;
}

div.divisor {
    width: 100%;
    height: 1px;
    background-color: #E3DED7;
    margin: 0px;
   
}

div.FAQ2 {
    margin: 16px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    width: 644px;
    background-color: white;
    border-radius: 10px;
}

div.FAQ2 > p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2B2A2B;
}

div.FAQ22 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.FAQ3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px;
    width: 692px;
    background: white;
    border-radius: 10px;
}

div.FAQ33 {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

div.resolvemostusdudas > div> a {
    
    color: #ffffff;
    text-align: center;
}

div.resolvemostusdudas {
    font-family: "Outfit";
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    padding: 18px;
}

div.resolvemosimg {
    padding-left: 19px;
}
/* Aqui empieza el cuerpo 5 de la web */

section.sect5 {
    display: flex;
    font-family: "Outfit";
    width: 1360px;
    padding: 0px;
    background-color: white;
    align-items: center;
}

div.section5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    padding-top: 44.61px;
    padding-right: 40px;
    padding-bottom: 45.39px;
    gap: 24px;  
}

div.sec5img {
    width: 588px;
    height: 390px;
    background: url(/cafe-en-altura/assets/images/Hero\ image\ \(1\).jpg), #FEFFF5;
    border-radius: 20px;
}

div.sec5 > h2 {
    color: #2A5B45;
    font-family: "Outfit";
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    line-height: 28px;
}

div.sec5 > p {
    width: 588px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #111827;
    padding-top: 16px;
}
div.comollegar {
    font-family: "Outfit";
    display: flex;
    justify-content: start;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    padding-top: 20px;
}

div.comollegarimg {
    padding-left: 19px;
}

div.comollegar > div> a {
    color: #000000;
}
/* Aqui empieza el cuerpo 6 de la web */

section.sect6 {
    display: flex;
    width: 1360px;
    height: 552px;
    font-family: "Outfit";
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: #E3DED7;
}

div.section6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    gap: 24px;
    width: 1280px;
}
